html{
	scroll-behavior: smooth;
}


@font-face {
    font-family: 'Fair P';
    src: url('Fair Prosper.ttf');
}


@font-face {
    font-family: 'Arthead';
    src: url('Arthead-Regular\ FREE.otf');
}

@font-face {
    font-family: 'Lobster';
    src: url('Lobster\ 1.4.otf');
}

@font-face {
    font-family: 'Rounded Elegance';
    src: url('Rounded_Elegance.ttf');
}

.vers-le-bas:hover {
	opacity: 0.3;
}


body {
	margin: 0 auto;
	background-color: #F2EBE4;
	
	
}

p {
	margin: 0px;
}




/* tete de page */





header.header {
	display: flex;
	align-items: center;
	
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color :#F2EBE4;
	
}

section.top-page {
	background: url('../images/Liquid.jpg');
	background-size: cover;
	height: 95vh;
	padding: 25px;
	
	

}
 .big-title {
	color: black;
	font-size: 100px;
	text-align: center;
	font-family: Arthead;
	font-weight: 500;
	margin-top: 25%;
	
} 



.vers-le-bas {
	width: 100px;
	display: block;
	margin: auto;
	
}




/* menu de navigation */




nav.nav{
	display: flex;
	list-style: none;
	margin-left: 5%;
	justify-content: space-between;
	width: 90%;
	font-family: Lobster;
	font-size: 40px;

}

nav.nav li {
	color: black;

}



/* mes goûts */





.mes-gouts {
	background-color: #F2EBE4;
}


.section-title {
	font-size: 70px;
	font-family: Rounded Elegance ;
	padding: 20px;
	
	
}

h2 {
	margin: 0;
}

.mes-films-pref {
	min-height: 500px;
	display: flex;
	flex-wrap: wrap;
	margin: 50px;

}

.film-box {
	background-size: cover;
	position:	relative;
	background-position: center;
	min-width: 350px;
	height: 800px;
	flex: 1;
}


.film-details {
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 20px;
	font-family: DIN;
	color: white;	
}

.film1 {
	width: auto;
	height: 600px;
	padding: 20px;
	margin-left: 40px;
	border-radius: 40px;
	
	
}

.film2 {
	width: auto;
	height: 600px;
	padding: 20px;
	display: block;
	margin: auto;
	border-radius: 40px;
	
}

.film3 {
	width: auto;
	height: 600px;
	padding: 20px;
	margin-right: 40px;
	border-radius: 40px;
}


.film-details1{
	background-color: black;
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 5px 0px;
	font-family: DIN;
	color: white;
}


.titre-mes-films-pref{
	color: rgb(237, 139, 41);
	font-size: 50px;
	font-family: Rounded Elegance;
	text-align: center;
	font-weight: 500;
	
}

.nomfilm-real-et-date {
	font-family: Rounded Elegance;
	padding: 20px;
	display: block;
	width: 360px;
	background-color: #cb6601;
	font-size: 30px;
	border-radius:20px;
	position: static;
	margin-left: 106px;
	
	

}

.nomfilm2-real-et-date {
	font-family: Rounded Elegance;
	padding: 20px;
	display: block;
	width: 360px;
	background-color: #cb6601;
	font-size: 22.5px;
	border-radius:20px;
	position: static;
	margin: auto;
	margin-top: -145px;
	
}

.nomfilm3-real-et-date {
	font-family: Rounded Elegance;
	padding: 20px;
	display: block;
	width: 360px;
	background-color: #cb6601;
	font-size: 30px;
	border-radius:20px;
	position: static;
	margin-left: auto;
	margin-right: 106px;
	margin-top: -145px;
}


.filmblock {
	flex-direction: row;
}





/* Jeux Vidéo */



.mes-JV-pref-block {
	flex-direction: row;
	display: flex;
    flex-flow: row wrap;
	justify-content: center;
	background-color: #F2EBE4;

	
}




.img-bio{
	width: 600px;
	padding: 20px;
	border-radius:40px;

}

.img-bio:hover {
	width: 610px;
	opacity: 0.9;
}

.img-fir {
	width: 800px;
	padding: 20px;
	border-radius:40px;
}

.img-fir:hover {
	width: 810px;
	opacity: 0.9;
}

.img-fab {
	width: 600px;
	padding: 20px;
	border-radius:40px;
}

.img-fab:hover {
	width: 610px;
	opacity: 0.9;
}

.img-mc {
	width: 800px;
	padding: 20px;
	border-radius:40px;

}
.img-mc:hover {
	width: 810px;
	opacity: 0.9;
}


.txt-bio-titre {
	font-family: Rounded Elegance;
	font-size: 50px;
	text-align: center;
	margin-top: 30px;
}


.txt-bio {
	font-family: Rounded Elegance;
	font-size: 30px;
	text-align: center;
}


.txt-fir-titre {
	font-family: Rounded Elegance;
	font-size: 50px;
	text-align: center;
	margin-top: 60px;
}

.txt-fir {
	font-family: Rounded Elegance;
	font-size: 30px;
	text-align: center;

}

.txt-fab-titre {
	font-family: Rounded Elegance;
	font-size: 50px;
	text-align: center;
	margin-top: 60px;
}

.txt-fab {
	font-family: Rounded Elegance;
	font-size: 30px;
	text-align: center;
}

.txt-min-titre {
	font-family: Rounded Elegance;
	font-size: 50px;
	text-align: center;
	margin-top: 60px;
} 

.txt-min {
	font-family: Rounded Elegance;
	font-size: 30px;
	text-align: center;
} 





/* Mes créations */


.mes-creations {
	background-color: #F2EBE4;
}

.section-title-mes-creations {
	font-size: 70px;
	font-family: Rounded Elegance;
	padding: 20px;
	margin-top: 60px;
}

.MC1 {
	width: 1000px;
	height: auto;
	margin-left: 20%;
}

.MC2 {
	width: 1000px;
	height: auto;
	margin-left: 20%;
	
}





/* footer */



footer {
	display: flex;
	align-items: center;
	margin: 20px 100px;
	justify-content: space-between;
	font-family: DIN;
	
}

